{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{ form.wizard_copy.title }} | KidsMap{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/components/kidsmap_schedule_editor.css' %}?v=25">
<link rel="stylesheet" href="{% static 'css/pages/permanent_place_wizard.css' %}?v=7">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}
{% block content %}
{% include "pages/includes/permanent_place_workspace.html" %}
{% endblock %}
{% block extra_body %}
<script src="{% static 'js/permanent_place_photos.js' %}?v=2"></script>
<script src="{% static 'js/permanent_place_wizard.js' %}?v=8"></script>
<script src="{% static 'js/kidsmap_schedule_editor.js' %}?v=25"></script>
<script src="{% static 'js/permanent_place_pricing.js' %}?v=13"></script>
<script src="{% static 'js/kidsmap_dependent_subcategory.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'js/owner_place_map_picker.js' %}?v=3"></script>
{% if google_maps_api_key %}<script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key|urlencode }}&libraries=places&callback=kidsMapInitOwnerMapPickers"></script>{% endif %}
{% endblock %}
