DJANGO_DEBUG=0
DJANGO_SECRET_KEY=replace-with-long-random-secret
DJANGO_ALLOWED_HOSTS=kidsmap.az,www.kidsmap.az,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://kidsmap.az,https://www.kidsmap.az
USE_X_FORWARDED_HOST=1
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
GOOGLE_MAPS_API_KEY=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-brevo-login@smtp-brevo.com
EMAIL_HOST_PASSWORD=replace-with-brevo-smtp-key
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=KidsMap <noreply@kidsmap.az>
SERVER_EMAIL=noreply@kidsmap.az

DB_ENGINE=mariadb
DB_NAME=kidsmap
DB_USER=kidsmap
DB_PASSWORD=kidsmap
DB_ROOT_PASSWORD=rootpass
DB_HOST=db
DB_PORT=3306

USE_RUNSERVER=0
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
