asgiref==3.11.1
Brotli==1.1.0
Django==6.0.2
django-jazzmin==3.0.1
Pillow==11.3.0
pillow-heif==1.5.0
google-analytics-data==0.21.0
gunicorn==23.0.0
mysqlclient==2.2.4
psycopg[binary]==3.2.10
phonenumberslite==9.0.17
redis==5.2.1
sqlparse==0.5.5
whitenoise==6.9.0
