{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "О проекте" %}{% endblock %}
{% block title_plain %}{% trans "О проекте" %} | KidsMap{% endblock %}
{% block title_plain_twitter %}{% trans "О проекте" %} | KidsMap{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}

{% block content %}
  <section class="panel">
    <h1>{% trans "О проекте" %}</h1>
    <p>{% trans "KidsMap — каталог детских кружков и секций в Баку." %}</p>
  </section>
{% endblock %}
