{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ place.name }}{% endblock %}

{% block content %}

    <a href="{% url 'place_list' %}">{% trans "Назад" %}</a>
    <h1>{{ place.name }}</h1>

    <p><b>{% trans "Категория" %}:</b> {{ place.get_category_display }}</p>
    {% if place.subcategory %}<p><b>{% trans "Подкатегория" %}:</b> {{ place.subcategory }}</p>{% endif %}
    <p><b>{% trans "Район/метро" %}:</b> {{ place.district }} / {{ place.metro }}</p>
    {% if place.address %}<p><b>{% trans "Адрес" %}:</b> {{ place.address }}</p>{% endif %}
    <p><b>{% trans "Возраст" %}:</b> {{ place.age_from }}-{{ place.age_to }}</p>
    <p><b>{% trans "Цена" %}:</b> {{ place.price_from }}-{{ place.price_to }} AZN</p>

    {% if place.phone1 %}<p><b>{% trans "Телефон" %}:</b> <a href="tel:{{ place.phone1 }}">{{ place.phone1 }}</a></p>{% endif %}
    {% if place.instagram %}<p><b>Instagram:</b> {{ place.instagram }}</p>{% endif %}
{% endblock %}
