{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ place.name_i18n }}{% endblock %}

{% block content %}

    <a href="{% url 'place_list' %}">{% trans "Назад" %}</a>
    <h1>{{ place.name_i18n }}</h1>
    {% if place.description_i18n %}
      <p>{{ place.description_i18n|linebreaksbr }}</p>
    {% endif %}

    <p><b>{% trans "Категория" %}:</b> {{ place.get_category_display }}</p>
    {% if place.subcategory %}<p><b>{% trans "Подкатегория" %}:</b> {{ place.subcategory }}</p>{% endif %}
    {% if place.district or place.metro %}
      <p>
        <b>{% trans "Район/метро" %}:</b>
        {% if place.district %}{{ place.district }}{% endif %}
        {% if place.district and place.metro %} / {% endif %}
        {% if place.metro %}{{ place.metro }}{% endif %}
      </p>
    {% endif %}
    {% if place.address %}<p><b>{% trans "Адрес" %}:</b> {{ place.address }}</p>{% endif %}
    {% if place.age_from or place.age_to %}
      <p>
        <b>{% trans "Возраст" %}:</b>
        {% if place.age_from and place.age_to %}
          {{ place.age_from }}-{{ place.age_to }}
        {% elif place.age_from %}
          {{ place.age_from }}+
        {% else %}
          {{ place.age_to }}
        {% endif %}
      </p>
    {% endif %}
    {% if place.price_from or place.price_to %}
      <p>
        <b>{% trans "Цена" %}:</b>
        {% if place.price_from and place.price_to %}
          {{ place.price_from }}-{{ place.price_to }} AZN
        {% elif place.price_from %}
          {{ place.price_from }} AZN
        {% else %}
          {{ place.price_to }} AZN
        {% endif %}
      </p>
    {% endif %}
    {% if place.schedule %}<p><b>{% trans "Расписание" %}:</b> {{ place.schedule }}</p>{% endif %}
    {% if place.website %}
      <p><b>{% trans "Сайт" %}:</b> <a href="{{ place.website_url }}" target="_blank" rel="noopener noreferrer">{{ place.website }}</a></p>
    {% endif %}

    {% if place.phone1 %}<p><b>{% trans "Телефон" %}:</b> <a href="tel:{{ place.phone1 }}">{{ place.phone1 }}</a></p>{% endif %}
    {% if place.instagram %}
      <p><b>Instagram:</b> <a href="{{ place.instagram_url }}" target="_blank" rel="noopener noreferrer">{{ place.instagram }}</a></p>
    {% endif %}
    {% if place.lat and place.lng %}
      <p><b>{% trans "Координаты" %}:</b> {{ place.lat }}, {{ place.lng }}</p>
    {% endif %}
{% endblock %}
